<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-13LV3TDKFN"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs5/jq-3.3.1/dt-1.10.25/datatables.min.css" />
    <script type="text/javascript"
        src="https://cdn.datatables.net/v/bs5/jq-3.3.1/dt-1.10.25/datatables.min.js"></script>
    <style>
        i {
            font-size: 150%;
        }

        ul {
            list-style-type: none;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Kobold Training Club</a>
            <span class="navbar-text" id="version-number">{{ version }}</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about.html">About</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    By Black Cat Tabletop
                </span>
            </div>
        </div>
    </nav>
    <!-- Patch Notes Modal-->
    <div class="modal fade" id="patchNotesModal" tabindex="-1" aria-labelledby="patchNotesModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="patchNotesModalLabel">Welcome to {{ version }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include 'version-notes.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Alignments Modal -->
    <div class="modal fade" id="alignmentsModal" tabindex="-1" aria-labelledby="alignmentsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="alignmentsModalLabel">A Note On Alignments</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>It's important to note that when you choose to sort by an option like "non-good" or "any lawful",
                        Kobold Training Club only searches for monsters with that exact phrasing.</p>
                    <p>For instance, if you look at the stat block for an Assassin, you will see that the alignment is
                        given as "non-good." Likewise, the Alhoon has an alignment of "any evil".</p>
                    <p>To search for any evil monster, you should check the following boxes: any evil, chaotic evil,
                        lawful evil, and neutral evil.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="font-size: 10pt; margin-top: 25px;">
        <div class="row">
            <div class="col-4">
                <h3>Choose your monsters here</h3>
                <div class="accordion" id="accordionSelector">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="environmentsHeader">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEnvironments" aria-expanded="true"
                                aria-controls="collapseEnvironments">
                                Environments
                            </button>
                        </h2>
                        <div id="collapseEnvironments" class="accordion-collapse collapse show"
                            aria-labelledby="environmentsHeader" data-bs-parent="#accordionSelector">
                            <div class="accordion-body">
                                <ul id="environments_selector">
                                </ul>
                                <button class="updater_button">Update</button>
                                <button class="toggle_all_button">Deselect All</button>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="sizesHeader">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSizes" aria-expanded="false" aria-controls="collapseSizes">
                                Sizes
                            </button>
                        </h2>
                        <div id="collapseSizes" class="accordion-collapse collapse" aria-labelledby="sizesHeader"
                            data-bs-parent="#accordionSelector">
                            <div class="accordion-body">
                                <ul id="sizes_selector">
                                </ul>
                                <button class="updater_button">Update</button>
                                <button class="toggle_all_button">Deselect All</button>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSources">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSources" aria-expanded="false" aria-controls="collapseSources">
                                Sources
                            </button>
                        </h2>
                        <div id="collapseSources" class="accordion-collapse collapse" aria-labelledby="headingSources"
                            data-bs-parent="#accordionSelector">
                            <div class="accordion-body">
                                <h4>Official Sources</h4>
                                <ul id="sources_selector">
                                </ul><button class="updater_button">Update</button>
                                <button class="toggle_all_button">Deselect All</button>
                                <h4>Custom Sources</h4>
                                <div>
                                    <ul id="customSourcesUsed">

                                    </ul>
                                    <button class="updater_button">Update</button>
                                    <button class="toggle_all_button">Deselect All</button>
                                    <input type="text" id="customSourceSearcher" placeholder="Search by name...">
                                    <ul id="customSourceFinder">

                                    </ul>
                                </div>
                                <p>Add custom sources! Simply copy the sheet ID from any content <a
                                        href="https://www.reddit.com/r/asmor/comments/ntrdrm/list_of_communityadded_kfc_content_6_trump_got/">here</a>
                                    and paste it into the box below.
                                </p>
                                <div id="sourceKeyManagementDiv">
                                    <input type="text" id="sourceKeyInput" placeholder="Paste ID here!">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTypes">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTypes" aria-expanded="false" aria-controls="collapseTypes">
                                Types
                            </button>
                        </h2>
                        <div id="collapseTypes" class="accordion-collapse collapse" aria-labelledby="headingTypes"
                            data-bs-parent="#accordionSelector">
                            <div class="accordion-body">
                                <ul id="types_selector">
                                </ul><button class="updater_button">Update</button>
                                <button class="toggle_all_button">Deselect All</button>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingAlignments">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseAlignments" aria-expanded="false"
                                aria-controls="collapseAlignments">
                                Alignments
                            </button>
                        </h2>
                        <div id="collapseAlignments" class="accordion-collapse collapse"
                            aria-labelledby="headingAlignments" data-bs-parent="#accordionSelector">
                            <div class="accordion-body">
                                <ul id="alignments_selector">
                                </ul>
                                <button class="updater_button">Update</button>
                                <button class="toggle_all_button">Deselect All</button><i
                                    class="bi bi-question-circle btn" data-bs-toggle="modal"
                                    data-bs-target="#alignmentsModal"></i>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingChallenge Rating">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseChallengeRatings" aria-expanded="false"
                                aria-controls="collapseChallengeRatings">
                                Challenge Ratings, Named, and Legendary
                            </button>
                        </h2>
                        <div id="collapseChallengeRatings" class="accordion-collapse collapse"
                            aria-labelledby="headingChallengeRatings" data-bs-parent="#accordionSelector">
                            <div class="accordion-body" id="challengeRatingSelectorDiv">
                                <div id="minCr">
                                    Minimum Challenge Rating: <select id="challengeRatingMinimum"></select>
                                </div>
                                <div id="maxCr">
                                    Maximum Challenge Rating<select id="challengeRatingMaximum"></select>
                                </div>
                                <div id="legendary">
                                    <input type="checkbox" id="allowLegendary">Include Monsters with Legendary
                                    Actions/Resistances
                                </div>
                                <div id="named">
                                    <input type="checkbox" id="allowNamed">Include Named Monsters
                                </div>
                                <button class="updater_button">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row" style="margin-bottom: 25px;">
                    <div class="col-7">
                        <div class="row">
                            <h4>Your Party</h4>
                            <div class="col-8" id="characterList">
                            </div>
                            <div class="col-4 float-end" id="encounterThresholds">
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <h4>Your Encounter <span id="encounterDifficulty"></span></h4>
                        <div class="row" id="monsterList">

                        </div>
                    </div>

                </div>
                <div class="row">
                    <table class="table" style="width: 100%;" id="monsterTable">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">CR</th>
                                <th scope="col">Size</th>
                                <th scope="col">Type</th>
                                <th scope="col">Tags</th>
                                <th scope="col">Section</th>
                                <th scope="col">Alignment</th>
                                <th scope="col">Source(s)</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <script src="static/js/bundle.js"></script>
        </div>
    </div>
</body>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-13LV3TDKFN');
</script>

</html>