<p>Hello and welcome to Kobold Training Club!</p>
<p>You should find it fairly easy to use - filter the monsters on the table by using the different selectors on the
    left. You can search the results, and sort them by each column in the table.</p>
<p>Kobold Training Club also accepts sheets from Kobold Fight Club without needing any modification! Open the
    "Alignments" section to the left for more information.</p>
<p>Version notes:</p>
<ul>
    <li>Courtesy of Vincent Schmandt, Kobold Training Club now has a "Run in Improved Initiative" button. Enjoy!</li>
    <li>Fixed a bug that prevented CR from sorting properly in Chromium based browsers</li>
</ul>
<p>The next few updates are likely to focus on back-end stuff - specifically to do with handling 3rd-party content
    better.</p>
<p>Thanks again, and happy rolling!</p>