<p>Hello and welcome to Kobold Training Club!</p>
<p>You should find it fairly easy to use - filter the monsters on the table by using the different selectors on the
    left. You can search the results, and sort them by each column in the table.</p>
<p>Kobold Training Club also accepts sheets from Kobold Fight Club without needing any modification! Open the
    "Alignments" section to the left for more information.</p>
<p>Version notes:</p>
<ul>
    <li>Improved search feature - try searching for swarms or demons!</li>
    <li>Added the full Mordenkainen source book</li>
    <li>Fixed some localisation issues with the sort feature</li>
</ul>
<p>The next few updates are likely to focus on back-end stuff - specifically to do with handling 3rd-party content
    better.</p>
<p>Thanks again, and happy rolling!</p>