<p>Hello and welcome to Kobold Training Club!</p>
<p>You should find it fairly easy to use - filter the monsters on the table by using the different selectors on the
    left. You can search the results, and sort them by each column in the table.</p>
<p>Kobold Training Club also accepts sheets from Kobold Fight Club without needing any modification! Open the
    "Alignments" section to the left for more information.</p>
<p>Version notes:</p>
<ul>
    <li>Fixed (and added comprehensive testing for) a funky little bug about how monsters with non-unique items are
        handled. Expected behaviour now is that if a third-party monster shares a name with a first-party monster, the
        third-party monster will have the acronym of the source it's in added to its name. This is to avoid any
        confusion between monsters.</li>
    <li>Sorted another annoying little bug which prevented CR30 monsters from being shown on occasion</li>
</ul>
<p>The next few updates are likely to focus on back-end stuff - specifically to do with handling 3rd-party content
    better.</p>
<p>Thanks again, and happy rolling!</p>